[Unit]
Description=awww daemon
After=graphical.target
PartOf=graphical-session.target

[Service]
Type=exec
ExecStart=/bin/bash -c 'while true; do /usr/bin/awww-daemon; sleep 1; done'
TimeoutStopSec=10

[Install]
WantedBy=graphical-session.target
