[Unit]
Description=awww daemon
After=graphical.target
PartOf=graphical-session.target

[Service]
Type=exec
ExecStart=/home/icesoul/.config/river/scripts/awww-daemon-wrapper
Restart=no
TimeoutStopSec=10

[Install]
WantedBy=graphical-session.target
